/**
 *
 */
.navbar-fixed-top {
  opacity: 0.3;
}
.navbar-fixed-top.home,
.navbar-fixed-top:hover {
  opacity: 1;
}

.totoro-icon {
  background: transparent url('../img/noun_project_3424.svg') no-repeat center center;
  background-size: 90% 90%;
  text-indent: -9000px;
  color: rgba(0, 0, 0, 0);
}
.totoro-icon.totoro-icon-invert {
  background: transparent url('../img/noun_project_3424-invert.svg') no-repeat center center;
  background-size: 90% 90%;
}
.totoro-icon-main {
  height: 10em;
}

.main-container {
  margin-top: 40px;
}

.experiment-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: #FFFFFF;
}

#bus-stop-map {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#simple-opacity .bus-line-container {
  font-size: 3em;
  float: left;
  line-height: 1.25em;
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
}
#simple-opacity .bus-line-container .bus-line {
  font-size: 3em;
  margin-bottom: .5em;
}

#bus-icon .bus-icon-container {
  font-size: 3em;
  float: left;
  line-height: 1.25em;
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
}

#bus-icon .bus-icon-container .bus-line {
  min-height: 200px;
  background: transparent url('../img/noun_project_6628.svg') no-repeat center center;
  background-size: 100% 100%;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  display:box;
  box-pack:center;
  box-align:center;
  color: #ABABAB;
  text-shadow: 1px 1px 1px #000;
}

#simple-list {
  padding-top: 3em;
}

#simple-list .simple-list-item-container {
  width: 100%;
  line-height: 1.5em;
  background-color: #BDBDBD;
  border: 3px solid #222222;
  text-align: center;
  font-size: 4em;
  margin-bottom: .25em;
}
